// Main

$header-color: #FAEBD7;
$body-color: #CD5C5C;
$footer-color: #800000;

$button-back: #8B4513;
$button-font: #FFF5EE;

// Secondary
$second-body-color: #E9967A;
$second-body-color: #FFB6C1;

// Vins
$blanc-main-color: #F0E68C;
$blanc-second-color: #FFFACD;
$blanc-third-color: #FDF5E6;
$rose-main-color: #FF033E;
$rose-second-color: #FF7F50;
$rose-third-color: #F08080;
$rouge-main-color: #7a212f;
$rouge-second-color: #9c303d;
$rouge-third-color: #d74a51;
$rouge-autre1: #721a18;
$rouge-autre2: #92000f;
